  
.add-room-btn {
    position: relative;
    left: 98%;
    }
    
    .delete-room-btn {
        position: relative;
        left: 283%;
        }
    
        .update-room-btn {
            position: relative;
            left: 165%;
            }