.slider-container {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 180%;
    bottom: 20%;
  }

  .slider-images {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    width: calc(140% - 100px);
    max-width: 100%;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(140% / 3);
  }
  
  .rounded-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-button {
    left: -210px;
  }
  
  .next-button {
    right: -200px;
  }
  